<div>
    <h2 id="page-heading">
        <span jhiTranslate="docsApplicationJHipsterApp.folders.home.title">Folders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-folders" [routerLink]="['/folders/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="docsApplicationJHipsterApp.folders.home.createLabel">
            Create a new Folders
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="folders?.length === 0">
        <span jhiTranslate="docsApplicationJHipsterApp.folders.home.notFound">No folders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="folders && folders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="folder"><span jhiTranslate="docsApplicationJHipsterApp.folders.folder">Folder</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let folders of folders ;trackBy: trackId">
                    <td><a [routerLink]="['/folders', folders.id, 'view']">{{ folders.id }}</a></td>
                    <td>{{ folders.folder }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/folders', folders.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/folders', folders.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(folders)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
