<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="folders">
            <h2><span jhiTranslate="docsApplicationJHipsterApp.folders.detail.title">Folders</span> {{ folders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="docsApplicationJHipsterApp.folders.folder">Folder</span></dt>
                <dd>
                    <span>{{ folders.folder }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/folders', folders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
